<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mapper.MenuMapper">


    <select id="getMenusByUserId" resultType="com.my.domain.bean.Menu">
        select
            m.id,m.label,m.icon,m.sort,m.url,m.parent_id
        from menu m
            left join role_menu rm on m.id = rm.menu_id
            left join role r on rm.role_id = r.id
            left join user_role ur on r.id = ur.role_id
            left join user u on ur.user_id = u.id
        where u.id = #{userId} order by m.sort
    </select>

    <select id="selectByPage" resultType="com.my.domain.bean.Menu">
        select
            m.id,m.label,m.icon,m.sort,m.url,m.parent_id,m.create_time,m2.label as parent
        from
            menu m
        left join menu m2 on m.parent_id = m2.id
        <where>
            <if test='query.label != null and query.label != ""'>
                m.label like (CONCAT(CONCAT('%',#{query.label}),'%'))
            </if>
            <if test='query.url != null and query.url != ""'>
                m.url like (CONCAT(CONCAT('%',#{query.url}),'%'))
            </if>
            <if test='query.parentId != null'>
                m.parent_id = #{query.parentId}
            </if>
        </where>
        order by m.create_time desc
    </select>
</mapper>
